google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.118.0
google-cloud-tasks==2.19.1
google-cloud-firestore==2.27.0
line-bot-sdk==3.11.0
APScheduler==3.10.4
python-dotenv==1.0.1
pytz==2024.1
flask==3.0.3
gunicorn==23.0.0
